

.btn{
  margin-top: 10px;
  width: 100%;
  height: 40px;
  color: white;
  @apply rounded-small;
  transition: all .3s;
  background-color: #7365FF!important;
  font-size: 18px;
  font-weight: 600;
  
  &:hover{
    background-color: darken($color: #7365FF, $amount: 5%)!important;
  }

}