.container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	@apply bg-black;

	.smokes {
		top: 0;
		left: 0;
		z-index: 0;
		span {
			position: absolute;

			&:first-child {
				z-index: 3;
				top: -50%;
				left: 10%;
				scale: 1.5;
				filter: blur(100%);

			}

			&:nth-child(2) {
				z-index: 2;
				left: 60%;
				bottom: -10%;
				scale: 1.5;
				filter: blur(100%);
			}
			&:last-child {
				z-index: 1;
				right: 50%;
				bottom: -40%;
				scale: 1.5;
				filter: blur(100%);

			}
		}
	}

	.inner {
		margin: 0 auto;
		margin-top: 10%;
		padding: 20px;
		padding-inline: 15px;
		@apply rounded-default;
		@apply bg-white;
		z-index: 1;

		.logo {
			margin-bottom: 20px;
			img {
				height: 60px;
			}
		}

		.children {
		}
	}
}
